.footer_clr {
    background-color: #F3F7F7;
}

footer .footer_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #0757591f;
    margin-right: 15px;
    border-radius: 50%;
    color: #075759;
    transition: all linear 0.2s;
}

footer .footer_link:hover {
    background-color: #075759;
    color: white;
}

footer .footer_nav .nav_title {
    margin-bottom: 30px;
}

footer .footer_nav .nav_item {
    margin-bottom: 10px;
}

footer .footer_nav .nav_item a:hover {
    color: #075759;
    ;
}

footer .footer_nav_wrapper {
    border-bottom: 1px solid #1919191f;
    padding-bottom: 50px;
}

@media(max-width: 550px) {
    footer .copyright {
        font-size: 12px;
    }
}