button {
    background-color: transparent;
    border: none;
}

button:hover {
    transform: scale(1.02);
}

input:focus-visible {
    outline: none;
}

h1 span {
    color: var(--color-secondary, #FD7E00);
}

.container {
    max-width: 1420px;
}

.navbar {
    padding: 25px 0;
    background: var(--palette-white-white-alpha-90, rgba(255, 255, 255, 0.90));
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08);
}

.navbar-toggler {
    border-radius: 6px;
    background: var(--color-primary-10, #E6EEEE);
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: unset;
}

.navbar-nav {
    gap: 48px;
}

.nav-link {
    color: var(--palette-warm-gray-900-warm-gray-900-alpha-100, #1C1917);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    padding: 0 !important;
}

.nav-link.active {
    color: var(--color-primary, #075759) !important;
}

.user_tab {
    border-radius: 8px;
    background: var(--color-primary-5, #F3F7F7);
    padding: 3px;
}

.user_tab button {
    color: var(--palette-dark-blue-900-dark-blue-900-alpha-100, #000E21);
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    padding: 10px 24px;
    transition: 0.3s ease-in;
}

.user_tab button.active {
    border-radius: 8px;
    background: var(--color-primary, #075759);
    color: var(--palette-white-white-alpha-100, #FFF);
    transition: 0.3s ease-in;
}

/* ==== banner css ====== */

.banner {
    background-image: url('../src/assets/hero-new-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 159px;
    padding-bottom: 35px;
}

.banner2 {
    background-image: url('../src/assets/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 159px;
    padding-bottom: 100px;
}

.banner h1 {
    color: var(--color-primary, #075759);
    font-size: 64px;
    font-weight: 800;
    line-height: 130%;
    max-width: 751px;
    margin-bottom: 17px;
}

.banner p {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    max-width: 638px;
    margin-bottom: 50px;
}

.banner2 h1 {
    color: var(--color-primary, #075759);
    font-size: 64px;
    font-weight: 800;
    line-height: 130%;
    max-width: 751px;
    margin-bottom: 17px;
}

.banner2 p {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    max-width: 638px;
    margin-bottom: 50px;
}

.download_btn {
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
    border-radius: 8px;
    background: var(--color-primary, #075759);
    padding: 14px 32px;
    margin-bottom: 45px;
    transition: 0.3s ease-in;
}

.bannerarrowDown_wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
}

#bannerarrowDown {
    padding: 32px 20px;
    border-radius: 36px;
    box-shadow: 0px 8px 32px 0px rgba(7, 87, 89, 0.20);
}

#bannerarrowDown .arrow_down {
    width: 15px;
    height: 15px;
    background-color: transparent;
    z-index: 80;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #075759;
    animation: scrolldown 1.2s ease-in-out infinite 0.15s;
    transform: translateY(0%) rotate(45deg);
    opacity: 0;
}

#bannerarrowDown .arrow_down2 {
    width: 15px;
    height: 15px;
    background-color: transparent;
    z-index: 80;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #075759;
    animation: scrolldown 1.2s ease-in-out infinite 0.15s;
    transform: translateY(0%) rotate(45deg);
    opacity: 0;
}

@keyframes scrolldown {
    0% {
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }

    50% {
        transform: translateY(0%) rotate(45deg);
        opacity: 0.2;
    }

    100% {
        transform: translateY(20%) rotate(45deg);
        opacity: 0.7;
    }
}

/* ===== quarter css ===== */

.quarter {
    padding: 130px 0;
    text-align: center;
}

.quarter h2 {
    color: var(--color-primary, #075759);
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 60px;
}

.quarter h2 span {
    color: var(--color-secondary, #FD7E00);
}

.quarter_card {
    border-radius: 8px;
    border: 1px solid #EEE;
    background: #FFF;
    padding: 40px;
    transition: 0.3s ease-in;
}

.quarter_card img {
    margin-bottom: 30px;
}

.quarter_card img.hov {
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 0.3s ease-in;
}

.quarter_card h3 {
    color: var(--palette-warm-gray-800-warm-gray-800-alpha-100, #292524);
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 16px;
    transition: 0.3s ease-in;
}

.quarter_card p {
    color: var(--palette-warm-gray-600-warm-gray-600-alpha-100, #57534E);
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    transition: 0.3s ease-in;
}

.quarter_card:hover {
    border-radius: 8px;
    background: var(--color-primary-80, #39797A);
}

.quarter_card:hover img.hov {
    display: block;
    opacity: 1;
    visibility: visible;
}

.quarter_card:hover img.default {
    display: none;
}

.quarter_card:hover h3 {
    color: var(--palette-text-light-0-text-light-0-alpha-100, #FCFCFC);
}

.quarter_card:hover p {
    color: var(--palette-cool-gray-100-cool-gray-100-alpha-90, rgba(243, 244, 246, 0.90));
}

/* sustainability css */

.sustainability {
    background: var(--color-primary, #075759);
    padding-top: 124px;
    padding-bottom: 155px;
}

.sustainability h2 {
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 55px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
}

.sustainability h2 span {
    color: var(--color-secondary, #FD7E00);
}

.sustainability .content {
    color: #E6EEEE;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 35px;
}

.sustainability .title {
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.sustainability .subtitle {
    color: #D0D0D1;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.sustainability button {
    border-radius: 8px;
    background: var(--palette-white-white-alpha-100, #FFF);
    color: var(--color-primary, #075759);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
    padding: 14px 32px;
    margin-top: 60px;
    transition: 0.3s ease-in;
}

.impact {
    padding-top: 130px;
    padding-bottom: 130px;
    background-image: url('../src/assets/impact-bg.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.impact h2 {
    color: var(--color-primary, #075759);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
}

.impact h2 span {
    color: var(--color-secondary, #FD7E00);
}

.impact p {
    color: #3B3B3C;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 50px;
}

.impact p.title {
    color: var(--color-primary, #075759);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.impact button {
    border-radius: 8px;
    background: var(--palette-background-dark-muted-background-dark-muted-alpha-100, #252526);
    color: var(--palette-white-white-alpha-90, rgba(255, 255, 255, 0.90));
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
    padding: 14px 32px;
    margin-top: 40px;
    transition: 0.3s ease-in;
}

.dining {
    padding-bottom: 95px;
    background-image: url('../src/assets/dining-bg-left.png'), url(../src/assets/dining-bg-right.png);
    background-repeat: no-repeat;
    background-position: left center, right center;
}

.dining_header {
    margin-bottom: 62px;
}

.dining h2 {
    color: var(--color-primary, #075759);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
}

.dining h2 span {
    color: var(--color-secondary, #FD7E00);
}

.dining p {
    color: #555556;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}

.dining_card {
    border-radius: 8px;
    background: var(--palette-white-white-alpha-100, #FFF);
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.04), 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    padding: 25px 28px;
}

.dining_card img {
    margin-bottom: 18px;
}

.dining_card p {
    color: #333333 !important;
}

.dining_card h6 {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 8px;
}

.discover {
    background: linear-gradient(106deg, #E7FEFF -3.61%, #FFF1E3 134.33%);
    padding-top: 70px;
    text-align: center;
    margin-bottom: 165px;
}

.discover .container {
    max-width: 1005px;
}

.discover h1 {
    color: var(--color-primary, #075759);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 5px;
}

.discover p {
    color: #363636;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 30px;
}

.discover button {
    border-radius: 8px;
    background: var(--color-primary, #075759);
    padding: 14px 32px;
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
    margin-bottom: 100px;
    transition: 0.3s ease-in;
}

.opportunity {
    margin-bottom: 130px;

}

.opportunity .container {
    background-image: url('../src/assets/opportunity-bg.png');
    height: 708px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 21px;
}

.opportunity .inner {
    max-width: 1080px;
    text-align: center;
}

.opportunity h1 {
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 18px;
}

.opportunity p {
    color: var(--palette-background-light-muted-background-light-muted-alpha-100, #F6F6F7);
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
}

.joinPower {
    background-image: url('../src/assets/joinpower-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 79px 0;
}

.joinPower h1 {
    color: var(--color-primary-5, #F3F7F7);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
}

.joinPower .form {
    max-width: 450px;
    border-radius: 8px;
    border: 1px solid var(--palette-black-black-alpha-100, #000);
    background: var(--White, #FFF);
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 2px;
}

.joinPower input {
    width: 100%;
    border: none;
    padding: 5px;
}

.joinPower button {
    border-radius: 8px;
    background: var(--palette-black-black-alpha-100, #000);
    padding: 14px 35px;
    color: var(--White, var(--palette-white-white-alpha-100, #FFF));
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap;
    transition: 0.3s ease-in;
}

.add_modal .modal-body {
    padding: 0;
}

.modal-content {
    border: 0;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.12);
}

.download_sec {
    background: linear-gradient(142deg, #075759 -0.1%, rgba(7, 87, 89, 0.00) 159.25%) !important;
}

.add_modal h1 {
    color: var(--palette-background-dark-muted-background-dark-muted-alpha-100, #252526);
    font-size: 36px !important;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 13px;
}

.add_modal p {
    color: #363636;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 35px;
}

.page_banner {
    background-image: url('../src/assets/sub-section-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 101px 0;
    text-align: center;
    margin-bottom: 130px;
    background-position: bottom center;
}

@media(max-width: 992px) {
    .page_banner {
        margin-bottom: 85px;
    }
}

@media(max-width: 768px) {
    .page_banner {
        margin-bottom: 40px;
    }
}


.page_banner .page_ornaments_one {
    top: -25px;
    right: 0;
}

@media(max-width: 576px) {
    .page_banner .page_ornaments_one {
        top: -10px;
    }

    .page_banner .page_ornaments_one img {
        width: 100px;
    }
}

.page_banner .page_ornaments_two {
    bottom: 0;
    left: 0;
}

@media(max-width: 576px) {
    .page_banner .page_ornaments_two img {
        width: 100px;
    }
}

.react-multi-carousel-dot-list {
    bottom: 12px;
}

.react-multi-carousel-dot button {
    background: rgba(255, 189, 0, 0.47);
    width: 5px !important;
    height: 4px !important;
    border: none !important;
    border-radius: 0 !important;
}

.react-multi-carousel-dot--active button {
    background: var(--color-primary, #075759) !important;
    width: 19px !important;
    height: 4px !important;
    border: none !important;
}

.our_mission {
    background-image: url('../src/assets/green-paper.png'), url('../src/assets/tomato.png');
    background-repeat: no-repeat;
    background-position: left center, right center;
    padding-bottom: 130px;
}

@media(max-width: 768px) {
    .our_mission {
        padding-bottom: 80px;
    }
}

.title_btn {
    color: var(--color-primary, #075759);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    background: var(--color-primary-10, #E6EEEE);
    padding: 14px 32px;
    display: inline-block;
    margin-bottom: 25px;
}

@media(max-width: 576px) {
    .title_btn {
        font-size: 12px;
        padding: 14px 10px;
    }
}

.our_mission h1 {
    color: #000;
    font-size: 48px;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 25px;
}

@media(max-width: 992px) {
    .our_mission h1 {
        font-size: 38px;
        margin-bottom: 20px;
    }
}

@media(max-width: 768px) {
    .our_mission h1 {
        font-size: 28px;
        margin-bottom: 15px;
    }
}

@media(max-width: 576px) {
    .our_mission h1 {
        font-size: 25px;
    }
}

.our_mission p {
    color: #363636;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 45px;
}

@media(max-width: 992px) {
    .our_mission p {
        margin-bottom: 35px;
    }
}

@media(max-width: 768px) {
    .our_mission p {
        margin-bottom: 30px;
    }
}

@media(max-width: 576px) {
    .our_mission p {
        margin-bottom: 25px;
    }
}

.our_mission button {
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
    border-radius: 8px;
    background: var(--color-primary, #075759);
    padding: 14px 32px;
}

.vision {
    background: linear-gradient(297deg, rgba(132, 211, 162, 0.14) -0.74%, rgba(255, 255, 255, 0.00) 72.46%);
    position: relative;
    margin-bottom: 130px;
}

@media(max-width: 768px) {
    .vision {
        margin-bottom: 80px;
    }
}

.vision .vision_inner {
    background-image: url('../src/assets/vision-bg.png');
    background-repeat: no-repeat;
    background-position: left;
    padding: 125px 0 115px;
}

@media(max-width: 578px) {
    .vision .vision_inner .kabab_img img {
        width: 50%;
    }

    .vision .vision_inner {
        background-position: top;
        padding: 60px 0 80px;
    }
}

.vision h1 {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 48px;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 25px;
}

@media(max-width: 992px) {
    .vision h1 {
        font-size: 38px;
    }
}

@media(max-width: 768px) {
    .vision h1 {
        font-size: 28px;
    }
}

@media(max-width: 576px) {
    .vision h1 {
        font-size: 24px;
    }
}

.vision p {
    color: #363636;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.vision .note {
    background: var(--color-primary, #075759);
    padding: 36px;
    display: flex;
    align-items: center;
    gap: 25px;
    max-width: 813px;
    position: absolute;
    bottom: 73px;
    right: 13%;
}

.vision .res-note {
    background: var(--color-primary, #075759);
    padding: 36px;
    display: flex;
    align-items: center;
    gap: 25px;
    max-width: 813px;
    /* position: absolute; */
    /* bottom: 73px; */
    /* right: 13%; */
}



.vision .res-notee p {
    color: #FFF !important;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
}

.vision .note p {
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
}

@media(max-width: 992px) {
    .vision .note p {
        font-size: 20px;
    }

    .vision .res-note p {
        font-size: 20px;
    }

    .vision .note {
        padding: 26px;
    }

    .vision .res-note {
        padding: 26px;
    }
}

@media(max-width: 768px) {
    .vision .note p {
        font-size: 16px;
    }

    .vision .note {
        padding: 16px;
    }

    .vision .res-note p {
        font-size: 16px;
    }

    .vision .res-note {
        padding: 16px;
    }
}

@media(max-width: 568px) {
    .vision .note p {
        font-size: 14px;
    }

    .vision .note {
        padding: 14px;
    }

    .vision .res-note p {
        font-size: 14px;
    }

    .vision .res-note {
        padding: 14px;
    }
}

.challenge {
    background-image: url('../src/assets/challenge-left-bg.png'), url('../src/assets/challenge-right-bg.png');
    background-repeat: no-repeat;
    background-position: left center, right center;
    padding-bottom: 130px;
}

@media(max-width: 768px) {
    .challenge {
        padding-bottom: 80px;
    }
}

.challenge .challenge_header {
    max-width: 1075px;
    text-align: center;
    margin: auto;
}

.challenge h1 {
    color: var(--palette-black-black-alpha-100, #000);
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 25px;
}

.challenge p {
    color: #363636;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 80px;
}

.challenge .challenge_card {
    border-radius: 8px;
    background: var(--palette-success-50-success-50-alpha-40, rgba(202, 255, 232, 0.40));
    padding: 26px;
}

.challenge .title {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 5px;
}

@media(max-width: 768px) {
    .challenge .title {
        font-size: 18px;
    }
}

.challenge .content {
    color: var(--palette-black-black-alpha-80, rgba(0, 0, 0, 0.80));
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 0;
}

@media(max-width: 768px) {
    .challenge .content {
        font-size: 16px;
    }
}

.solution {
    position: relative;
    padding-bottom: 180px;
    margin-bottom: 130px;
}

@media(max-width: 768px) {
    .solution {
        margin-bottom: 80px;
    }
}

.solution h1 {
    color: #075759;
    /* font-size: 48px; */
    font-weight: 700;
    line-height: 130%;
    padding: 150px 0;
    padding-left: 30px;
}

@media(max-width: 768px) {
    .solution h1 {
        padding: 80px 0;
    }
}


.solution .solution_right {
    background-image: url('../src/assets/solution-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.solution .note {
    background: var(--color-primary, #075759);
    padding: 63px 55px;
    max-width: 867px;
    position: absolute;
    bottom: 0;
    right: 13%;
}

@media(max-width: 768px) {
    .solution .note {
        padding: 20px 20px;
        max-width: 450px;
        position: absolute;
        bottom: 0px;
        right: 7%;
    }
}

.solution .note_inner {
    background-image: url('assets/solution-bg2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

}

.solution p {
    color: var(--palette-background-light-muted-background-light-muted-alpha-100, #F6F6F7);
    font-size: 24px;
    font-weight: 500;
    line-height: 160%;
}

@media(max-width: 768px) {
    .solution p {
        font-size: 16px;
    }
}

.winwin {
    background: var(--color-primary, #075759);
    padding: 130px 0;
    margin-bottom: 130px;
}

@media(max-width: 768px) {
    .winwin {
        margin-bottom: 80px;
        padding: 80px 0;
    }
}

.winwin .winwin_header {
    max-width: 885px;
    margin: auto;
    text-align: center;
}


.winwin .winwin_header h1 {
    color: var(--palette-white-white-alpha-100, #FFF);
    /* font-size: 60px; */
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 5px;
    margin-bottom: 20px;
}

.winwin .winwin_header p {
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 54px;
}

.economic {
    background-image: url('../src/assets/red-chili.png'), url('../src/assets/red-chili2.png');
    background-repeat: no-repeat;
    background-position: left bottom, right top;
    margin-bottom: 130px;
}

@media(max-width: 768px) {
    .economic {
        margin-bottom: 80px;
    }
}

.economic h1 {
    color: var(--palette-background-dark-muted-background-dark-muted-alpha-100, #252526);
    /* font-size: 60px; */
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    margin-bottom: 45px;
}



.economic .economic_card {
    border-radius: 4px;
    border: 1px solid #EEE;
    text-align: center;
}

.economic_card .title {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 25px;
}

.economic_card .content {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
}

.env_impact {
    margin-bottom: 130px;
}

.env_impact h1 {
    color: var(--palette-background-dark-muted-background-dark-muted-alpha-100, #252526);
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 51px;
}

@media(max-width: 768px) {
    .env_impact h1 {
        font-size: 24px;
    }
}

.env_impact .green_box {
    border-radius: 7px;
    background: #DAF9E6;
    color: #363636;
    font-size: 30px;
    font-weight: 500;
    line-height: 140%;
    padding: 31px 39px;
    margin-bottom: 21px;
}

@media(max-width: 768px) {
    .env_impact .green_box {
        font-size: 16px;
    }
}

.env_impact .pink_box {
    border-radius: 7px;
    background: var(--palette-orange-50-orange-50-alpha-90, rgba(255, 247, 237, 0.90));
    padding: 31px 39px;
    color: #363636;
    font-size: 30px;
    font-weight: 500;
    line-height: 140%;
}

@media(max-width: 768px) {
    .env_impact .pink_box {
        font-size: 16px;
    }
}

.difference {
    background: linear-gradient(106deg, rgba(231, 254, 255, 0.14) -0.81%, #FFF1E3 134.34%);
    padding: 130px 0 206px;
    margin-bottom: 130px;
}

@media(max-width: 768px) {
    .difference {
        margin-bottom: 80px;
        padding: 80px 0;
    }
}

.difference .diff_inner {
    background-image: url('../src/assets/difference-bg.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.difference h1 {
    color: var(--palette-white-white-alpha-100, #FFF);
    /* font-size: 60px; */
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 5px;
}

.difference .white_txt {
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
}

@media(max-width: 768px) {
    .difference .white_txt {
        font-size: 12px;
    }
}

.difference .black_txt {
    color: var(--palette-background-dark-muted-background-dark-muted-alpha-100, #252526);
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 59px;
}

@media(max-width: 768px) {
    .difference .black_txt {
        font-size: 14px;
    }
}

.difference .green_txt {
    color: var(--color-primary, #075759);
    font-size: 20px;
    font-weight: 700;
    line-height: 160%;
}

@media(max-width: 768px) {
    .difference .green_txt {
        font-size: 14px;
    }
}

.difference .diff {
    background-image: url('../src/assets/diff.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 61px 50px;
    border-radius: 21px;
}

@media(max-width: 768px) {
    .difference .diff {
        padding: 20px 20px;
    }
}

.join {
    background-image: url('../src/assets/double-tomato.png');
    background-repeat: no-repeat;
    background-position: right center;
    margin-bottom: 100px;
}

.download {
    background-image: url('../src/assets/mint.png');
    background-repeat: no-repeat;
    background-position: left 15% center;

}

.join p,
.download p {
    color: var(--palette-background-dark-muted-background-dark-muted-alpha-100, #252526);
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 56px;
}

@media(max-width: 768px) {

    .join p,
    .download p {
        font-size: 16px;
        margin-bottom: 30px;
    }
}

.join button,
.download button {
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
    border-radius: 8px;
    background: var(--color-primary, #075759);
    padding: 14px 32px;
}

.map {
    padding-bottom: 130px;
    background-image: url('../src/assets/map-bg.png');
    background-repeat: no-repeat;
    background-position: left bottom 30%;
}

.matters {
    margin-bottom: 130px;
}

.matters h1 {
    color: #363636;
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 63px;
}

.matters .matters_card {
    border-radius: 8px;
    background: var(--color-secondary-10, #FFF2E5);
    padding: 40px;
    display: flex;
    align-items: start;
    gap: 30px;
    max-width: 530px;
}

.matters .matters_card .title {
    color: #363636;
    font-size: 24px;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 5px;
}

.matters .matters_card .content {
    color: #363636;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.contact_form {
    border-radius: 10px;
    border: 2px solid var(--color-primary-20, #CDDDDE);
    background: var(--palette-white-white-alpha-100, #FFF);
    padding: 39px 36px;
}

.contact_form h2 {
    color: var(--color-primary, #075759);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 30px;
}

.contact_form label {
    color: #363636;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    display: block;
    margin-bottom: 12px;
}

.contact_form input,
.contact_form textarea {
    border-radius: 8px;
    border: 1px solid #EEE;
    background: var(--color-primary-5, #F3F7F7);
    padding: 24px;
    width: 100%;
    margin-bottom: 24px;
}

.contact_form input::placeholder {
    color: #363636;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.contact_form button {
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
    border-radius: 8px;
    background: var(--color-primary, #075759);
    width: 100%;
    padding: 14px 32px;
}

.welcome {
    background-image: url('../src/assets/press-bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 130px;
}

.welcome h1 {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 60px;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 25px;
}

.welcome h6 {
    color: var(--color-primary, #075759);
    font-size: 30px;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 25px;
}

.welcome p {
    color: #363636;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.latest {
    padding-bottom: 130px;
    background-image: url('../src/assets/dining-bg-left.png'), url(../src/assets/dining-bg-right.png);
    background-repeat: no-repeat;
    background-position: left center, right center;
}

.latest h1 {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 48px;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 25px;
    text-align: center;
}

.latest .latest_card {
    background: var(--palette-white-white-alpha-100, #FFF);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08);
    padding: 21px;
}

.latest .latest_card img {
    margin-bottom: 23px;
}

.latest .latest_card p {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.5px;
}

.review {
    background: linear-gradient(99deg, rgba(132, 211, 162, 0.80) -3.92%, #FAE4CE 106.14%);
    padding: 100px 0;
    margin-bottom: 130px;
}

.review .review_inner {
    background-image: url('assets/review-chili-bg.png'), url('assets/review-mint-bg.png');
    background-repeat: no-repeat;
    background-position: left bottom, top right;
}

.review h1 {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;
    max-width: 789px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.review .review_card {
    border-radius: 10px;
    background: #FDFBF9;
    padding: 28px 29px;
}

.review_card .description {
    color: var(--Black, #0A102F);
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 32px;
}

.review_card h6 {
    color: var(--Black, #0A102F);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
}

.review_card .identity {
    color: var(--Black, #0A102F);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.support_contact {
    background: linear-gradient(111deg, rgba(132, 211, 162, 0.14) -22.24%, #FDB 115.83%);
    padding: 49px 0;
    margin-bottom: 130px;
}

.support_inner {
    background-image: url('assets/contact-bg2.png'), url('assets/contact-bg-1.png');
    background-repeat: no-repeat;
    background-position: left bottom, right top;

}

.support_contact .support_form {
    max-width: 1038px;
    margin: auto;
    padding: 79px 0;
}

.faq {
    background-image: url('../src/assets/dining-bg-left.png'), url(../src/assets/dining-bg-right.png), url('assets/faq-bg.png'), url('assets/press-bg.png');
    background-repeat: no-repeat;
    background-position: left center, right center, bottom left, top right;
    padding-bottom: 130px;
}

.faq h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
    text-align: center;
}

.faq h6 {
    color: var(--Black, #0A102F);
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.faq .accordion_card {
    border-radius: 10px;
    border: 2px solid var(--palette-black-black-alpha-100, #000);
    background: var(--palette-white-white-alpha-100, #FFF);
    padding: 30px;

    max-width: 926px;
    margin: auto;
}

.faq .card_after {
    position: relative;
}

.faq .card_after::after {
    content: '';
    position: absolute;
    background-color: #000 !important;
    bottom: -15px;
    right: -15px;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 10px;
}

.faq .question {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq .answer {
    color: var(--Black, #0A102F);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.terms {
    margin-bottom: 130px;
}

.terms .tabs {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    border-right: 1px solid #EEE;
    height: 100%;
}

.terms .tabs a {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    text-decoration: none;
}

.terms .tabs a.active {
    color: var(--color-primary, #075759);
}

.terms .terms_option {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.terms_option h2 {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    padding-left: 26px;
    margin-bottom: 19px;

}

.terms_option h2::before,
.terms_option .sub_info h3::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    background-color: #FD7E00;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

}

.terms_option p {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.terms_option .sub_info {
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 50px;
    padding-left: 42px;
}

.terms_option .sub_info h3 {
    position: relative;
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding-left: 26px;
    margin-bottom: 19px;
}

.policy_header {
    margin-bottom: 50px;
}

.policy_header h1 {
    color: var(--color-primary, #075759);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 8px;
}

.policy_header p {
    color: #363636;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}


@media screen and (max-width:991px) {
    .navbar {
        padding: 13px 0;
    }

    .navbar-nav {
        margin-top: 20px;
        gap: 20px;
    }

    .navbar-brand img {
        width: 70%;
    }

    .banner {
        padding-top: 48px;
        padding-bottom: 402px;
        background-image: url('assets/banner-sm-bg.png');
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .banner2 {
        padding-top: 48px;
        padding-bottom: 402px;
        background-image: url('assets/banner2-sm-bg.png');
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .banner h1 {
        font-size: 40px;
        margin-bottom: 14px;
        line-height: 48px
    }

    .banner p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .banner2 h1 {
        font-size: 40px;
        margin-bottom: 14px;
        line-height: 48px
    }

    .banner2 p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .download_btn {
        font-size: 18px;
        line-height: 28px;
        padding: 10px 24px;
        margin-bottom: 14px
    }

    .scroll_down {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);

    }

    .scroll_down img {
        width: 55%;
    }

    .quarter {
        padding: 48px 0;
    }

    .quarter h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .quarter img {
        width: 30%;
    }

    .quarter_card h3 {
        font-size: 20px;
        line-height: 28px;
    }

    .quarter_card p {
        font-size: 16px;
        line-height: 24px;
    }

    .sustainability {
        padding-top: 24px;
        padding-bottom: 39px;
    }

    .sustainability h2 {
        font-size: 36px;
        margin-bottom: 8px;
    }

    .sustainability .content {
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 20px;
    }

    .sustainability .title {
        font-size: 14px;
        line-height: 20px;
    }

    .sustainability .subtitle {
        font-size: 14px;
        line-height: 20px;
    }

    .add_modal h1 {
        font-size: 20px !important;
        line-height: 160%;
        margin-bottom: 12px;
    }

    .add_modal p {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 15px;
    }

    #learn_btn {
        border-radius: 8px;
        border: 1px solid var(--palette-white-white-alpha-100, #FFF);
        padding: 5px 14px;
        color: var(--palette-white-white-alpha-100, #FFF);
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        text-transform: capitalize;
        background-color: transparent;
    }

    .sustainability button,
    .impact button {
        font-size: 16px;
        line-height: 24px;
        padding: 8px;
    }

    .impact {
        padding: 48px 0;
    }

    .impact h2 {
        font-size: 36px;
        line-height: 130%;
        margin-bottom: 17px;
    }

    .impact p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 17px;
    }

    #special_btn {
        border-radius: 8px;
        border: 1px solid var(--palette-background-dark-muted-background-dark-muted-alpha-100, #252526);
        color: var(--palette-black-black-alpha-90, #252526);
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        text-transform: capitalize;
        padding: 5px 14px;
        background-color: transparent;
    }

    .dining {
        padding-bottom: 160px;
    }

    @media(max-width: 768px) {
        .dining {
            padding-bottom: 90px;
        }
    }

    .dining h2 {
        font-size: 36px;
    }

    .dining p {
        font-size: 14px;
        line-height: 20px;
    }

    .dining_card h6 {
        font-size: 20px;
    }

    .discover {
        padding-top: 25px;
        margin-bottom: 0;
        margin: 0 15px;
    }

    .discover h1 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 18px;
    }

    .discover p {
        font-size: 16px;
        line-height: 24px;
    }

    .discover button {
        font-size: 18px;
        line-height: 28px;
        padding: 10px 24px;
        margin-bottom: 50px;
    }

    .opportunity {
        margin: -10px 15px 48px 15px !important;
        position: relative;
        z-index: 9999;
    }

    .opportunity .container {
        height: auto;
        padding: 55px 37px;
    }

    .opportunity h1 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
    }

    .opportunity p {
        font-size: 16px;
        line-height: 24px;
    }

    .opportunity button {
        border-radius: 8px;
        background: var(--palette-white-white-alpha-100, #FFF);
        color: var(--color-primary, #075759);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        padding: 10px 32px;
        margin-top: 30px;
    }

    .joinPower {
        padding-top: 74px;
        background-image: url('/src/assets/joinpower-bg-sm.png');
    }

    .joinPower h1 {
        font-size: 36px;
        line-height: 130%;
        margin-bottom: 26px;
    }

    .joinPower .form {
        max-width: 278px;
    }

    .joinPower button {
        padding: 8px;
    }

    .matters {
        margin-bottom: 60px;
    }

    .matters .matters_card {
        padding: 20px;
    }

    .matters h1 {
        font-size: 30px;
        line-height: 130%;
        margin-bottom: 30px;
    }

    .matters .matters_card .title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }

    .matters .matters_card .content {
        font-size: 14px;
        line-height: 160%;
    }

    .contact_form {
        padding: 20px;
    }

    .contact_form label {
        font-size: 16px;
    }

    .contact_form input,
    .contact_form textarea {
        padding: 16px 24px;
    }

    .map {
        padding-bottom: 60px;
    }

    .welcome {
        margin-bottom: 48px;
    }

    .welcome h1 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 5px;
    }

    .welcome p {
        font-size: 12px;
        line-height: 16px;
    }

    .welcome h6 {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 10px;
    }

    .latest {
        padding-bottom: 48px;
    }

    .latest h1 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 12px;
    }

    .review {
        padding: 53px 0;
        margin-bottom: 48px;
    }

    .review h1 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .review_card .description,
    .review_card h6 {
        font-size: 14px;
        line-height: 20px;
    }

    .review_card .description {
        margin-bottom: 17px;
    }

    .review_card .identity {
        font-size: 12px;
        line-height: 16px;
    }

    .faq {
        background-image: unset;
        padding-bottom: 48px;
    }

    .faq h1 {
        font-size: 30px;
        line-height: 130%;
        margin-bottom: 8px;
    }

    .faq h6 {
        font-size: 18px;
        line-height: 160%;
        margin-bottom: 20px;
    }

    .faq .accordion_card {
        padding: 27px 19px;
    }

    .faq .question {
        font-size: 16px;
        line-height: 24px;
    }

    .faq .answer {
        font-size: 18px;
        line-height: 160%;
    }

    .faq button {
        border-radius: 8px;
        background: var(--color-primary, #075759);
        padding: 14px 30px;
        color: var(--palette-white-white-alpha-100, #FFF);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    .page_banner {
        margin-bottom: 48px;
    }

    .support_contact {
        padding: 36px 0;
        margin-bottom: 48px;
    }

    .support_inner {
        background-image: unset;
    }

    .faq .card_after::after {

        bottom: -9px;
        right: -9px;

    }

    .support_contact .support_form {
        padding: 0;
    }

    .terms {
        margin-bottom: 48px;
    }

    .terms .tabs {
        flex-direction: row;
        margin-bottom: 30px;
    }

    .terms .tabs a {
        font-size: 12px;
    }

    .terms_option h2 {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 10px;
    }

    .terms_option p {
        font-size: 16px;
        line-height: 24px;
    }

    .terms .terms_option {
        gap: 25px;
    }
}