button {
    background-color: transparent;
    border: none;
}

input:focus-visible {
    outline: none;
}

.container {
    max-width: 1420px;
}

.navbar {
    padding: 25px 0;
    background: var(--palette-white-white-alpha-90, rgba(255, 255, 255, 0.90));
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08);
}

.navbar-nav {
    gap: 48px;
}

.nav-link {
    color: var(--palette-warm-gray-900-warm-gray-900-alpha-100, #1C1917);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    padding: 0 !important;
}

.nav-link.active {
    color: var(--color-primary, #075759) !important;
}

.user_tab {
    border-radius: 8px;
    background: var(--color-primary-5, #F3F7F7);
    padding: 3px;
}

.user_tab button {
    color: var(--palette-dark-blue-900-dark-blue-900-alpha-100, #000E21);
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    padding: 10px 24px;
}

.user_tab button.active {
    border-radius: 8px;
    background: var(--color-primary, #075759);
    color: var(--palette-white-white-alpha-100, #FFF);
}


/* ==== banner css ====== */

.banner {
    background-image: url('../src/assets/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 159px;
    padding-bottom: 35pxd;
}

.banner h1 {
    color: var(--color-primary, #075759);
    font-size: 64px;
    font-weight: 800;
    line-height: 130%;
    max-width: 751px;
    margin-bottom: 17px;
}

.banner h1 span {
    color: var(--color-secondary, #FD7E00);
}

.banner p {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    max-width: 638px;
    margin-bottom: 50px;
}

.download_btn {
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
    border-radius: 8px;
    background: var(--color-primary, #075759);
    padding: 14px 32px;
    margin-bottom: 45px;
}

/* ===== quarter css ===== */
.quarter {
    padding: 130px 0;
    text-align: center;
}

.quarter h2 {
    color: var(--color-primary, #075759);
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 60px;
}

.quarter h2 span {
    color: var(--color-secondary, #FD7E00);
}

.quarter_card {
    border-radius: 8px;
    border: 1px solid #EEE;
    background: #FFF;
    padding: 40px;
    transition: 0.3s ease-in;
}

.quarter_card img {
    margin-bottom: 30px;
}

.quarter_card img.hov {
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 0.3s ease-in;
}

.quarter_card h3 {
    color: var(--palette-warm-gray-800-warm-gray-800-alpha-100, #292524);
    font-size: 36px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 16px;
    transition: 0.3s ease-in;
}

.quarter_card p {
    color: var(--palette-warm-gray-600-warm-gray-600-alpha-100, #57534E);
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    transition: 0.3s ease-in;
}

.quarter_card:hover {
    border-radius: 8px;
    background: var(--color-primary-80, #39797A);
}

.quarter_card:hover img.hov {
    display: block;
    opacity: 1;
    visibility: visible;
}

.quarter_card:hover img.default {
    display: none;
}

.quarter_card:hover h3 {
    color: var(--palette-text-light-0-text-light-0-alpha-100, #FCFCFC);
}

.quarter_card:hover p {
    color: var(--palette-cool-gray-100-cool-gray-100-alpha-90, rgba(243, 244, 246, 0.90));
}

/* sustainability css */
.sustainability {
    background: var(--color-primary, #075759);
    padding-top: 124px;
    padding-bottom: 155px;
}

.sustainability h2 {
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 55px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
}

.sustainability h2 span {
    color: var(--color-secondary, #FD7E00);
}

.sustainability .content {
    color: #E6EEEE;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 35px;
}

.sustainability .title {
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.sustainability .subtitle {
    color: #D0D0D1;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.sustainability button {
    border-radius: 8px;
    background: var(--palette-white-white-alpha-100, #FFF);
    color: var(--color-primary, #075759);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
    padding: 14px 32px;
    margin-top: 60px;
}

.impact {
    padding-top: 130px;
    padding-bottom: 130px;
    background-image: url('../src/assets/impact-bg.png');
    background-repeat: no-repeat;
    background-position: left center;
}

.impact h2 {
    color: var(--color-primary, #075759);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
}

.impact h2 span {
    color: var(--color-secondary, #FD7E00);
}

.impact p {
    color: #3B3B3C;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 50px;
}

.impact p.title {
    color: var(--color-primary, #075759);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.impact button {
    border-radius: 8px;
    background: var(--palette-background-dark-muted-background-dark-muted-alpha-100, #252526);
    color: var(--palette-white-white-alpha-90, rgba(255, 255, 255, 0.90));
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
    padding: 14px 32px;
    margin-top: 40px;
}

.dining {
    padding-bottom: 95px;
    background-image: url('../src/assets/dining-bg-left.png'), url(../src/assets/dining-bg-right.png);
    background-repeat: no-repeat;
    background-position: left center, right center;
}

.dining_header {
    margin-bottom: 62px;
}

.dining h2 {
    color: var(--color-primary, #075759);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
}

.dining h2 span {
    color: var(--color-secondary, #FD7E00);
}

.dining p {
    color: #555556;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}

.dining_card {
    border-radius: 8px;
    background: var(--palette-white-white-alpha-100, #FFF);
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.04), 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    padding: 25px 28px;
}

.dining_card img {
    margin-bottom: 18px;
}

.dining_card p {
    color: #333333 !important;
}

.dining_card h6 {
    color: var(--palette-black-black-alpha-100, #000);
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 8px;
}

.discover {
    background: linear-gradient(106deg, #E7FEFF -3.61%, #FFF1E3 134.33%);
    padding-top: 70px;
    text-align: center;
    margin-bottom: 165px;
}

.discover .container {
    max-width: 1005px;
}

.discover h1 {
    color: var(--color-primary, #075759);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 5px;
}

.discover h1 span {
    color: var(--color-secondary, #FD7E00);
}

.discover p {
    color: #363636;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 30px;
}

.discover button {
    border-radius: 8px;
    background: var(--color-primary, #075759);
    padding: 14px 32px;
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-transform: capitalize;
    margin-bottom: 100px;
}

.opportunity {
    margin-bottom: 130px;
}

.opportunity .container {
    background-image: url('../src/assets/opportunity-bg.png');
    height: 708px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opportunity .inner {
    max-width: 1080px;
    text-align: center;
}

.opportunity h1 {
    color: var(--palette-white-white-alpha-100, #FFF);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 18px;
}

.opportunity p {
    color: var(--palette-background-light-muted-background-light-muted-alpha-100, #F6F6F7);
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
}

.joinPower {
    background-image: url('../src/assets/joinpower-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 79px 0;
}

.joinPower h1 {
    color: var(--color-primary-5, #F3F7F7);
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
}

.joinPower .form {
    max-width: 450px;
    border-radius: 8px;
    border: 1px solid var(--palette-black-black-alpha-100, #000);
    background: var(--White, #FFF);
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 5px;
}

.joinPower input {
    width: 100%;
    border: none;
    padding: 5px;
}

.joinPower button {
    border-radius: 8px;
    background: var(--palette-black-black-alpha-100, #000);
    padding: 14px 35px;
    color: var(--White, var(--palette-white-white-alpha-100, #FFF));
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap;
}

.modal-xl {
    width: 1076px !important;
    background: var(--palette-white-white-alpha-100, #FFF);
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.12);
}

.modal-dialog-centered {
    /* min-height: unset !important; */
}

.add_modal .modal-body {
    padding: 0;
}

.modal-content {
    border: 0;
}

.add_modal .download {
    background: linear-gradient(142deg, #075759 -0.1%, rgba(7, 87, 89, 0.00) 159.25%);
}

.add_modal h1 {
    color: var(--palette-background-dark-muted-background-dark-muted-alpha-100, #252526);
    font-size: 36px !important;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 13px;
}

.add_modal h1 span {
    color: var(--color-secondary, #FD7E00);
}

.add_modal p {
    color: #363636;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 35px;
}