@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55'); */
@import url('../src/fonts/stylesheet.css');

.f_helvetica {
    font-family: 'Helvetica Neue';
}

.f_inter {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

.section_padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section_padding_80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pb_14 {
    padding-bottom: 14px;
}

.pb_25 {
    padding-bottom: 25px;
}

.pb_40 {
    padding-bottom: 40px;
}

.pb_60 {
    padding-bottom: 60px;
}

.pb_64 {
    padding-bottom: 64px;
}

.f_clr_19c2 {
    color: #191919c2;
}

.f_clr_00 {
    color: #FD7E00;
}

.bg_clr {
    background-color: #075759;
}

.bg_clr_91 {
    background-color: #e4fff391;
}

.bg_clr_4d {
    background-color: #FFEDD54D;
}

.bg_clr_f2 {
    background: #FFF9F2;
}

.f_clr_19 {
    color: #191919;
}

.fw_medium {
    font-weight: 500;
}

.fw_extrabold {
    font-weight: 800;
}

.fs_18 {
    font-size: 18px;
    line-height: 28px;
}

.fs_30 {
    font-size: 30px;
    line-height: 40px;
}

.fs_48 {
    font-size: 48px;
    line-height: 58px;
}

.fs_64 {
    font-size: 64px;
    line-height: 74px;
}

.unlock_achivement_card_wrapper {
    padding: 32px 31px;
    border-radius: 11px;
}

.unlock_achivement_card_wrapper .unlock_achivement_card_icon {
    margin-bottom: 35px;
}

.unlock_achivement_card_wrapper .unlock_achivement_card_title {
    margin-bottom: 18px;
}

.unlock_achivement_card_wrapper .unlock_achivement_card_des p {
    color: rgba(0, 0, 0, 0.70)
}

/* why choose */
#why_choose .why_choose_card {
    padding: 30px 39px;
    border-radius: 11px;
}

#why_choose .section_heading h2 {
    padding-bottom: 14px;
}

#joinFoodZee.joinFoodZee_right_shape {
    background-image: url(../src/assets/join_foodze.png);
    background-repeat: no-repeat;
    background-position: left center;
}

#joinFoodZee.joinFoodZee_right_shape::after {
    position: absolute;
    content: url(../src/assets/join_foodze2.png);
    top: 0;
    right: 0;
    z-index: -9;
}