@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55'); */
@import url('../src/fonts/stylesheet.css');

.f_helvetica {
    font-family: 'Helvetica Neue';
}

.f_inter {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

.section_padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section_padding_80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.pb_14 {
    padding-bottom: 14px;
}

.pb_25 {
    padding-bottom: 25px;
}

.pb_40 {
    padding-bottom: 40px;
}

@media(max-width: 576px) {
    .pb_40 {
        padding-bottom: 20px;
    }
}

@media(max-width: 668px) {
    .pb_40 {
        padding-bottom: 30px;
    }
}

.pb_60 {
    padding-bottom: 60px;
}

@media(max-width: 576px) {
    .pb_60 {
        padding-bottom: 30px;
    }
}

@media(max-width: 668px) {
    .pb_60 {
        padding-bottom: 40px;
    }
}

@media(max-width: 768px) {
    .pb_60 {
        padding-bottom: 50px;
    }
}

.pb_64 {
    padding-bottom: 64px;
}

@media(max-width: 576px) {
    .pb_64 {
        padding-bottom: 26px;
    }
}

@media(max-width: 668px) {
    .pb_64 {
        padding-bottom: 36px;
    }
}

@media(max-width: 768px) {
    .pb_64 {
        padding-bottom: 46px;
    }
}

.f_clr_19c2 {
    color: #191919c2;
}

.f_clr_00 {
    color: #FD7E00;
}

.bg_clr {
    background-color: #075759;
}

.bg_clr_91 {
    background-color: #e4fff391;
}

.bg_clr_4d {
    background-color: #FFEDD54D;
}

.bg_clr_f2 {
    background: #FFF9F2;
}

.f_clr_19 {
    color: #191919;
}

.fw_medium {
    font-weight: 500;
}

.fw_extrabold {
    font-weight: 800;
}

.fs_14 {
    font-size: 14px;
    line-height: 18px;
}

@media(max-width: 668px) {
    .fs-5 {
        font-size: 14px !important;
        line-height: 24px;
        font-weight: 400 !important;
    }
}

.fs_18 {
    font-size: 18px;
    line-height: 28px;
}

@media(max-width: 668px) {
    .fs_18 {
        font-size: 14px !important;
        line-height: 24px;
        font-weight: 400 !important;
    }
}

.fs_30 {
    font-size: 30px;
    line-height: 40px;
}

@media(max-width: 668px) {
    .fs_30 {
        font-size: 16px;
        line-height: 24px;
    }
}

@media(max-width: 768px) {
    .fs_30 {
        font-size: 24px;
        line-height: 34px;
    }
}

.fs_48 {
    font-size: 48px;
    line-height: 58px;
}

@media(max-width: 576px) {
    .fs_48 {
        font-size: 16px;
        line-height: 26px;
    }
}

@media(max-width: 668px) {
    .fs_48 {
        font-size: 28px;
        line-height: 38px;
    }
}

@media(max-width: 768px) {
    .fs_48 {
        font-size: 38px;
        line-height: 48px;
    }
}

.fs_60 {
    font-size: 60px;
    line-height: 70px;
}

@media(max-width: 768px) {
    .fs_60 {
        font-size: 48px;
        line-height: 58px;
    }
}

@media(max-width: 668px) {
    .fs_60 {
        font-size: 38px;
        line-height: 48px;
    }
}

@media(max-width: 576px) {
    .fs_60 {
        font-size: 28px;
        line-height: 38px;
    }
}






.fs_64 {
    font-size: 64px;
    line-height: 74px;
}

@media(max-width: 576px) {
    .fs_64 {
        font-size: 26px;
        line-height: 36px;
    }
}

@media(max-width: 668px) {
    .fs_64 {
        font-size: 36px;
        line-height: 46px;
    }
}

@media(max-width: 768px) {
    .fs_64 {
        font-size: 46px;
        line-height: 56px;
    }
}

.mb_45 {
    margin-bottom: 45px;
}

@media(max-width: 768px) {
    .mb_45 {
        margin-bottom: 35px;
    }
}

@media(max-width: 668px) {
    .mb_45 {
        margin-bottom: 25px;
    }
}

@media(max-width: 576px) {
    .mb_45 {
        margin-bottom: 20px;
    }
}

.unlock_achivement_card_wrapper {
    padding: 32px 31px;
    border-radius: 11px;
}

.unlock_achivement_card_wrapper .unlock_achivement_card_icon {
    margin-bottom: 35px;
}

.unlock_achivement_card_wrapper .unlock_achivement_card_title {
    margin-bottom: 18px;
}

.unlock_achivement_card_wrapper .unlock_achivement_card_des p {
    color: rgba(0, 0, 0, 0.70)
}

/* why choose */
#why_choose .why_choose_card {
    padding: 30px 39px;
    border-radius: 11px;
}

#why_choose .section_heading h2 {
    padding-bottom: 14px;
}

#joinFoodZee.joinFoodZee_right_shape {
    background-image: url(../src/assets/join_foodze.png);
    background-repeat: no-repeat;
    background-position: left center;
}

#joinFoodZee.joinFoodZee_right_shape::after {
    position: absolute;
    content: url(../src/assets/join_foodze2.png);
    top: 0;
    right: 0;
    z-index: -9;
}

#foodzaaCachy .joinFoodZee_cachy_links {
    border-bottom: 1px solid #00000066;
    padding-bottom: 15px;
    margin-bottom: 40px;
}

#resturant-portal {
    background-image: url(../src/assets/resturant-portal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.partner_growth_wrapper {
    background-image: url(../src/assets/partner-growth.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 21px;
}

.partner_growth_wrapper .partner_growth_content {
    padding: 168px 20px;
    text-align: center;
    border-radius: 21px;
    background: linear-gradient(181deg, rgba(0, 0, 0, 0.80) -17.52%, rgba(97, 97, 97, 0.12) 227.99%);
}

/* .partner_growth_wrapper {
    padding: 182px 0;
} */

.partner_growth_btn {
    background-color: white;
    padding: 14px 32px;
    border-radius: 8px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: #075759;
}

.bottom_top {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.bottom_top button {
    background-color: green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
}